@using Microsoft.AspNetCore.Identity
@using Jubiler.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        var displayLabel = user != null ? $"{user.FirstName} {user.LastName}" : UserManager.GetUserName(User);

        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Zarządzaj">
                <i class="bi bi-person-circle"></i> Witaj @displayLabel!
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Products", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">
                    <i class="bi bi-box-arrow-right"></i> Wyloguj
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus"></i> Zarejestruj
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i> Zaloguj
            </a>
        </li>
    }
</ul>